* {
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
}

header {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 48px;
    position: relative;
    background-color: aquamarine;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    min-height: fit-content;
    height: 450px;
}

.forecast-text {
    text-align: center;
}