* {
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
}

header {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 48px;
    position: relative;
    background-color: aquamarine;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    font-size: 32px;
}

main {
    background-color: white;
    padding-left: 10px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    min-height: fit-content;
    height: 500px;
    min-width: 100%;
}

.forecast-text {
    text-align: center;
}

.recentCitiesButton {
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 32px;
    padding-left: 24px;
    padding-right: 24px;
    height: 50px;
}

.bg-dark {
    margin-top: 20px;
    margin-bottom: 20px;
}

.forecastContainer {
    justify-content: space-around;
    height: 400px;
    min-height: 400px;
    
}

.forecastCards {
    width: 16%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -45px;
    margin-left: -45px;
    padding-left: 10px;
    padding-right: 10px;
}

.forecast-info {
    justify-content: center;
}

.CurrForecastCard {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.curr-forecast-info {
    justify-content: center;
}

.hidden {
    display: none;
}